.column-1 {
  width: 45%;
  float: left;
  background-image: url("images/octoliberty.png");
  padding: 15px;
  margin-bottom: 30px;
}

.column-2  {
  width: 45%;
  float: right;
  padding: 15px;
  margin-bottom: 30px;
  background-color: lightgreen;
  background-image: url("images/pusheencat.png");
}
footer {
  width: 100%;
  text-align: center;
  background-color: pink;
  padding: 15px;
  clear: both;
}

header {
  padding: 5px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  background-color: lightblue;
  margin-bottom: 20px;
}
header h1  {
  padding: 20px;
  font-family: fantasy;
}

section article h2 {
  font-family: serif;
  font-weight: bold;
  font-style: italic;
}
