<!DOCTYPE html>
<html>
<head>
  <title>Search for a student</title>
</head>
<body>
  <form action="/students/search" method="GET">
    <input type="text" name="campus" placeholder="Campus">
    <button type="submit">Search</button>
  </form>

 <ul>
    <% @students.each do |student| %>
      <li><%= student['name'] %>, <%= student['campus'] %></li>
    <% end %>
  </ul> 


</body>
</html>